<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <!--<a href="#">Fechar</a>-->
        </div>
        <form action="/search">
            <!--<label for="search">Cidade</label>-->
            <div class="field">
                <input type="next" name="searchCity" placeholder="Pesquise a cidade">
            </div>
            <div class="field">
                <input type="next" name="searchState" placeholder="Pesquise o estado">
            </div>
            <button>
                <h4>Buscar</h4>
            </button>
        </form>
    </div>
    <a href="#">Fechar</a>
</div>